body
{
    margin: auto 10% 10%;
    font-family: 'Trebuchet MS';
}

@font-face {
  font-family: SketchRockwell;
  src: url('SketchRockwell.ttf');
}

h1 {
  font-family: SketchRockwell;
  font-size: 3.2em;
}

h2
{
    font-family: SketchRockwell;
    font-size: 1.7em;       
}

#cnvSnake
{
    border-style: solid;
    border-width: 3px;
}

#canvasContainer
{
    float:left;
}


#rules
{
    width: 300px;
    float:left;
    margin-left: 50px;    
    vertical-align: top;
}

#rules ul
{
    list-style: none;
    padding: 0;
}


#rules ul li
{
    margin-left: 0;
    margin-top: 5px;
}

#highScoresContainer
{
    clear:both;
}

/* Button Styles */
.button 
{
   border-top: 1px solid #706570;
   background: #1e1f1f;
   background: -webkit-gradient(linear, left top, left bottom, from(#bfc5c9), to(#1e1f1f));
   background: -moz-linear-gradient(top, #bfc5c9, #1e1f1f);
   padding: 5.5px 11px;
   -webkit-border-radius: 37px;
   -moz-border-radius: 37px;
   border-radius: 37px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 20px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}

.button:hover 
{
   border-top-color: #dce6ed;
   background: #dce6ed;
   color: #55577a;
}

.button:active 
{
   border-top-color: #1b435e;
   background: #1b435e;
}

/* Table Style */
table {

       color: #7F7F7F;
       font: 0.8em/1.6em "Trebuchet MS",Verdana,sans-serif;
       border-collapse: collapse;
       border-right: 1px solid #CCC;
       border-left: 1px solid #CCC;
	   width: 300px;
}

th,td 
{
	border-left: 0;
    padding: 10px
}

thead th
{
	background-color: #C30;
	color: #FFB3A6;
    text-align: center
}

/* Zebra striping for the even rows */
tbody tr:nth-child(2n) 
{
    background-color: #F7F7F7;
    color: #666
}

tbody tr:hover 
{
	background-color: #EEE;
    color: #333
}
