body
{
    margin: auto 10% 10%;
    font-family: 'Trebuchet MS';
}

@font-face {
  font-family: SketchRockwell;
  src: url('SketchRockwell.ttf');
}

h1 {
  font-family: SketchRockwell;
  font-size: 3.2em;
}

#cnvSnake
{
    border-style: solid;
    border-width: 3px;
}

#canvasContainer
{
    float:left;
}


#rules
{
    width: 300px;
    float:left;
    margin-left: 50px;    
    vertical-align: top;
}

#rules h2
{
    font-family: SketchRockwell;
    font-size: 1.7em;       
}

#rules ul
{
    list-style: none;
    padding: 0;
}


#rules ul li
{
    margin-left: 0;
    margin-top: 5px;
}

#highScoresContainer
{
    clear:both;
}

.button 
{
   border-top: 1px solid #706570;
   background: #1e1f1f;
   background: -webkit-gradient(linear, left top, left bottom, from(#bfc5c9), to(#1e1f1f));
   background: -moz-linear-gradient(top, #bfc5c9, #1e1f1f);
   padding: 5.5px 11px;
   -webkit-border-radius: 37px;
   -moz-border-radius: 37px;
   border-radius: 37px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 20px;
   font-family: Helvetica, Arial, Sans-Serif;
   text-decoration: none;
   vertical-align: middle;
}

.button:hover 
{
   border-top-color: #dce6ed;
   background: #dce6ed;
   color: #55577a;
}

.button:active 
{
   border-top-color: #1b435e;
   background: #1b435e;
}